services:
  app:
    build:
       context: .
       dockerfile: docker/php/Dockerfile
    container_name: bookCompanyCar
    working_dir: /var/www
    volumes: 
      - ./:/var/www

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
     - "8000:80"
    volumes:
     - ./:/var/www
     - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
     - app

  mysql:
    image: mysql:latest
    container_name: db_bookCompanyCar
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 0000
      MYSQL_DATABASE: bookCompanyCar
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:     